<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reveal.css" >
    <link rel="stylesheet" href="/stylesheets/zenburn.css">
    <link rel="stylesheet" href="/stylesheets/theme/default.css">
    <link rel="stylesheet" href="/stylesheets/slide_styles.css">
  </head>
  <body>

    <div class="reveal center">
      <div class="slides">
        <% include slide1 %>
        <% include slide2 %>
        <% include slide3 %>
        <% include slide4 %>
        <% include slide4a %>
        <% include slide5 %>
        <% include slide6 %>
        <% include slide7 %>
        <% include slide8 %>
        <% include slide9 %>
        <% include slide10 %>
        <% include slide11 %>
        <% include slide12 %>
        <% include slide13 %>
        <% include slide14 %>
      </div>
    </div>

    <script src="/js/reveal.min.js"></script>
    <script src="/js/plugins/highlight.js"></script>
    <script src="/js/plugins/notes/notes.js"></script>
    <script>
      Reveal.initialize({
        center: true,
        transition: 'linear'
      });
      hljs.tabReplace = '<span class="indent">\t</span>';
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
