<section>

  <section class="slide12">
    <h2>JavaScript Testing in  Levo's Future's</h2>
  </section>

  <section class="slide12a">
    <img src="images/sinon_js.jpg">
    <aside class="notes">
      As our JavaScript testing coverage increases, we'll reach the day when we need to
      graduate from jasmine-ajax in favor of Sinon.js which provides an API for mocks, stubs, spies and more. I see this as our next move as developers in the past run into wall where the testing Ajax calls with jasmine-ajax isn't good enough
    </aside>
  </section>

  <section class="slide12b">
    <h2>Sinon.js Features</h2>
    <ul>
      <li>Anonymous spies</li>
      <li>Spying on existing methods</li>
      <li>A rich inspection interface</li>
      <li>Stubs</li>
      <li>Mocks</li>
    </ul>

    <aside class="notes">
      SinonJS comes with a rich spy interface that allows us to test whether a spy was called with a specific argument, determine if it was called a specific number of times, and test against the values of arguments. Both stubs and mocks implement all of the features of the spy API, but have some added functionality.A stub allows us to replace any existing behavior for a specific method with something else. Mocks are effectively the same as stubs, but they mock a complete API and have some built-in expectations for how they should be used. The difference between a mock and a spy is that the expectations for mocks’ use are predefined and the test will fail if any of these are not met.
    </aside>
  </section>
</section>