<section class="slide9">
  <section>
    <h2> DRY Test Suite </h2>
    <aside class="notes"> Jasmine provides a useful set of features for maintaining
      readable tests and writing more advanced ones.
    </aside>
  </section>



</section>