<section>
<h1> JavaScript Engineering at Levo </h1>
  <p class="part-two">Part 2</p>

  <aside class="notes">
    Welcome to part 2 of the JavaScript Engineering series by me(Rushaine).
  </aside>
</section>
