<section>
  <img src="images/ryan_meme.jpg" />
  <aside class="notes">
    Jasmine will look familiar to RSpec, it works in a similar way with using
     "describe" and "it" calls for organizing tests. It takes alot of cues from RSpec.
  </aside>
</section>

