<section class="code-examples">
  <section>
    <h2>Levo Tooltips#1 abstraction </h2>
<pre>
<code data-trim class="javascript">
(function () {
  var toggleTooltip = function (selector, target) {
    var toolTip = $(selector).siblings(target);
    $(toolTip).toggle();
  };
  LevoLeague.toggleTooltip = toggleTooltip;
}());
</code>
</pre>
    <aside class="notes">
      Today we'll be using a basic implentation of how to toggle tooltips on the Levo site
      based on a basic abstraction of one way tooltips work on the Levo site to learn about Jasmine testing.
    </aside>
  </section>
</section>
